# Get an overview of the data

In [1]:
# all imports
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import tensorflow as tf

%matplotlib inline
sns.set_style("whitegrid")

In [2]:
# load the main dataset
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# load the meta data
holidays_events_df = pd.read_csv('holidays_events.csv')
oil_df = pd.read_csv('oil.csv')
stores_df = pd.read_csv('stores.csv')
transactions_df = pd.read_csv('transactions.csv')

## Peak at the data

Display the first few rows of the dataset to understand its structure and column names. Let's begin with the main dataset consisting of __train_df__ and __test_df__.

### Train and Test data

In [6]:
train_df.shape

(3000888, 6)

In [3]:
train_df.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [7]:
test_df.shape

(28512, 5)

In [4]:
test_df.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

Let's add the description of the data from the kaggle page to see the column's meaning:
* __store_nbr__: identifies the store at which the products are sold
* __family__: identifies the type of product sold
* __onpromotion__: gives the total number of items in a product family that were being promoted at a store at a given date
* __sales__: gives the total sales for a product family at a particular store at a given date. Fractional values are possible since products can be sold in fractional units (1.5 kg of cheese, for instance, as opposed to 1 bag of chips)

So we can see that the target column of __sales__ is missing in the test set. That means we will take only the __train_df__ for further analysis. But we have to investigate the categorical __family__ column in both sets before to make sure, that we are not missing any categorical value (important for the __LabelEncoder__).

In [11]:
# concat both sets together
dataset_df = pd.concat([train_df, test_df], axis=0)

# analyse the cardinality of the family column in both
dataset_df.family.value_counts()

AUTOMOTIVE                    91800
HOME APPLIANCES               91800
SCHOOL AND OFFICE SUPPLIES    91800
PRODUCE                       91800
PREPARED FOODS                91800
POULTRY                       91800
PLAYERS AND ELECTRONICS       91800
PET SUPPLIES                  91800
PERSONAL CARE                 91800
MEATS                         91800
MAGAZINES                     91800
LIQUOR,WINE,BEER              91800
LINGERIE                      91800
LAWN AND GARDEN               91800
LADIESWEAR                    91800
HOME CARE                     91800
HOME AND KITCHEN II           91800
BABY CARE                     91800
HOME AND KITCHEN I            91800
HARDWARE                      91800
GROCERY II                    91800
GROCERY I                     91800
FROZEN FOODS                  91800
EGGS                          91800
DELI                          91800
DAIRY                         91800
CLEANING                      91800
CELEBRATION                   91800
BREAD/BAKERY                  91800
BOOKS                         91800
BEVERAGES                     91800
BEAUTY                        91800
SEAFOOD                       91800
Name: family, dtype: int64

In [18]:
all_cat_values = set(dataset_df.family.unique().tolist())

Let's check if all the values are existing in the train set.

In [8]:
# analyse the cardinality of the family column in train_df
train_df.family.value_counts()

AUTOMOTIVE                    90936
HOME APPLIANCES               90936
SCHOOL AND OFFICE SUPPLIES    90936
PRODUCE                       90936
PREPARED FOODS                90936
POULTRY                       90936
PLAYERS AND ELECTRONICS       90936
PET SUPPLIES                  90936
PERSONAL CARE                 90936
MEATS                         90936
MAGAZINES                     90936
LIQUOR,WINE,BEER              90936
LINGERIE                      90936
LAWN AND GARDEN               90936
LADIESWEAR                    90936
HOME CARE                     90936
HOME AND KITCHEN II           90936
BABY CARE                     90936
HOME AND KITCHEN I            90936
HARDWARE                      90936
GROCERY II                    90936
GROCERY I                     90936
FROZEN FOODS                  90936
EGGS                          90936
DELI                          90936
DAIRY                         90936
CLEANING                      90936
CELEBRATION                   90936
BREAD/BAKERY                  90936
BOOKS                         90936
BEVERAGES                     90936
BEAUTY                        90936
SEAFOOD                       90936
Name: family, dtype: int64

In [17]:
train_cat_values = set(train_df.family.unique().tolist())

In [19]:
# look if one set does not contain a value from the other
added = list(sorted(train_cat_values - all_cat_values))
missing = list(sorted(all_cat_values - train_cat_values))
if added:
    print(f"{col}: added to the joined dataset: {added}")
if missing:
    print(f"{col}: missing from the joined dataset: {missing}")

We see no output from the print statements, so we have exact the same unique values in __train_df__ as in __test_df__. So we are not missing any values for a LabelEncoder. We can also see that we always have the same value counts of the unique values.

### Meta data

In [27]:
# Overview of shapes and column names
meta_dfs = [
    'holidays_events_df', 
    'oil_df',
    'stores_df',
    'transactions_df'
]

for meta in meta_dfs:
    print(meta)
    print(f"shape: {locals()[meta].shape}")
    print(f"columns: {locals()[meta].columns.tolist()}\n")

holidays_events_df
shape: (350, 6)
columns: ['date', 'type', 'locale', 'locale_name', 'description', 'transferred']

oil_df
shape: (1218, 2)
columns: ['date', 'dcoilwtico']

stores_df
shape: (54, 5)
columns: ['store_nbr', 'city', 'state', 'type', 'cluster']

transactions_df
shape: (83488, 3)
columns: ['date', 'store_nbr', 'transactions']

## Data summary

Basic statistics like mean, median, standard deviation, and quartiles for numeric columns.

# Exploratory Data Analysis

## Time plotting of train data

Time plot of store sales over the entire duration of the dataset.

## Meta data plotting

# Data Preprocessing

## Date formatting

Ensuring that the date column is in a proper datetime format, as this is crucial for time-based analysis.

## Handling missing values

Identification and handling of missing values, as they can impact forecasting accuracy (interpolation and forward/backward filling)

## Outlier detection

Detection and dealing with outliers that can adversely affect the model's performance.

## Feature engineering

Building of additional features like Year, day and month as separate column for the date. Also converting meta data in, e.g. binary indicators, could improve the performance of the model.

# Exploring Seasonality and Trends

## Decomposition

Time series decomposition to separate the series into its trend, seasonal, and residual components.

## Seasonal subseries plots

Visualization of the seasonal patterns (subseries plots for different seasons or months).

# Correlation Analysis

Calculation and plotting of the correlation matrix between store sales, oil price, and other relevant features.

# Feature Selection

Decision of factors to include in the forecasting model based on correlation analysis, seasonality and trends.

# Model Architecture

Baseline model with simple architecture (will be extended in the next sections).

# Training and Evaluation

# Hyperparameter Optimization and Model Improvement

## GridSearch of Hyperparameters

Baseline

## Extention of Baseline architecture

More complex version of the tuned baseline model to evaluate if the complex model architecture increases performance.

# Submission